.login-form{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    background-color: #fff;
    border: 5px solid #61dafb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.login-form-btn{
    background-color: #61dafb;
    color: #282c34;
    border-radius: 20px;
    border: 3px solid #282c34;
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
    margin: 20px auto;
    padding: 20px;
}

.login-form-btn:hover{
    transform: scale(1.2);
    background-color: #282c34;
    color: #fff;
    transition: 0.5s;
}